{% load static %}

{% block body %}

{% include 'navigation.html' %}

<marquee style = " font-size : 25px; color : black ; background-color : pink; font-weight : bold; margin-top:0.5% ">
    Admin Login
</marquee>
<hr>

<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>UserName</b></label>
    <input type="text" class="form-control" name="uname" placeholder="Enter Username">

    <label><b>Password</b></label>
    <input type="password" class="form-control" name="pwd" placeholder="Enter Password">

    <input type="submit" class="btn btn-primary" style="margin-top:2%" >

</form>


{% ifequal error "no" %}
<script>
    alert("Log in successfully");
    window.location = ('{% url 'admin_home' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert(" INVALID Try Again");
</script>
{% endifequal %}

{% endblock %}