{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}

<marquee style = " font-size : 25px; color : black ; background-color : pink; font-weight : bold; margin-top:0.5% ">
    Student User's Data
</marquee>
<hr>
<div class="container">
<table  id="example" >
    <thead>
    <tr style = "background-color : lightgreen">
        <th>S.No</th>
        <th>Full Name</th>
        <th>Email Address</th>
        <th>Contact</th>
        <th>Gender</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
    <tr style="background : Pink">
        <td>{{forloop.counter}}</td>
        <td>{{i.user.first_name}}  {{i.user.last_name}}</td>
        <td>{{i.user.username}}</td>
        <td>{{i.mobile}}</td>
        <td>{{i.gender}}</td>
        <td><img src = "{{i.image.url}}" style="width:50px ; height:50px ; border-radius:50%"></td>
        <td><a href="{% url 'delete_user' i.user.id %}" class="btn btn-danger" onclick="return confirm('Are you want to delete it permanently')">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>

</table>
</div>

{% endblock %}